:root {
  --ngx-devpav-default-color: #fff;

  --ngx-devpav-primary-color: #fff;
  --ngx-devpav-warning-color: #fff;
  --ngx-devpav-accent-color: #fff;

  --ngx-devpav-background: #fff;

  --ngx-devpav-default-font-color: #fff;

  --ngx-devpav-form-input-border: 1px solid #e8e8e8
}
