:root {
  --ngx-devpav-default-color: #fff;

  --ngx-devpav-primary-color: #fff;
  --ngx-devpav-warning-color: #fff;
  --ngx-devpav-accent-color: #fff;

  --ngx-devpav-background: #fff;

  --ngx-devpav-default-font-color: #fff;

  --ngx-devpav-form-input-border: 1px solid #e8e8e8;

  --ngx-devpav-dropdown-item-font-color: #fff;
  --ngx-devpav-dropdown-item-background-color: #fff;
  --ngx-devpav-dropdown-item-icon-color: #fff;
  --ngx-devpav-dropdown-background-color: #fff;

  --ngx-devpav-dropdown-item-font-color-hover: #fff;
  --ngx-devpav-dropdown-item-icon-color-hover: #ffffff;
  --ngx-devpav-dropdown-item-background-color-hover: #fff;

  --ngx-devpav-dropdown-scrollbar-thumb-background-color: #fff;
  --ngx-devpav-dropdown-scrollbar-background-color: #fff;

  --ngx-devpav-select-panel-arrow-color: #fff;
}
