.wrapper {
  width: 100%;
  height: 50px;
}

section.wrapper-content {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
  height: 100%;

  .ng-devpav-left-menu {
    flex-basis: 20%;
    padding: 0 10px 0 0;
    height: inherit;
    border-right: 1px solid white;
  }

  .ng-devpav-right-content {
    flex-basis: 80%;
    padding: 0 0 0 10px;
  }

}

