/* You can add global styles to this file, and also import other style files */
@import "projects/devpav-angular/src/index";

:root {
}

body {
  margin: 0;
  padding: 0;
  background: var(--ngx-devpav-body-background);
  color: var(--ngx-devpav-font-color);
}
