<ngx-devpav-container ngxSm="20" ngxMd="100" ngxLg="200" #container>
  <ngx-devpav-padding top="20" left="20" right="20" bottom="20">
    <ngx-devpav-selector [ngxMultiSelect]="true" [ngxListOptions]="listOptionSelector" title="Период">
    </ngx-devpav-selector>
  </ngx-devpav-padding>
  <ngx-devpav-padding top="150">
    <ngx-devpav-form-input ph="Поиск"></ngx-devpav-form-input>
  </ngx-devpav-padding>
  <ngx-devpav-padding top="20">
    <ngx-devpav-avatar initial="Павел Талайко" [ngxSize]="50" ngxBackground="#fff"></ngx-devpav-avatar>
  </ngx-devpav-padding>
  <ngx-devpav-padding top="20">
    <ngx-devpav-icon-list>
      <ngx-devpav-icon-list-option [ngxSrcAvatar]="undefined" ngxTitle="Павел Талайко">
      </ngx-devpav-icon-list-option>
    </ngx-devpav-icon-list>
  </ngx-devpav-padding>
  <ngx-devpav-padding top="20">
    <ngx-devpav-avatar ngxSize="200" initial="Павел Талайко" ngxBackground="#fff" ngxColor="black">
    </ngx-devpav-avatar>
  </ngx-devpav-padding>
</ngx-devpav-container>
